:root {
  /*Cores*/
  --white: #ffffff;
  --black: #000000;
  --background: #000000;
  --secundary-color: #232323;
  --destaque: #004f94;
  --text-color-white: #ffffff;
  --text-color-label: #9b9b9b;
}
